# Project-specific Git Configuration
# Documentation: git-config manpage
[filter "bash"]
	clean = "\"Git Clean and Smudge Filters/Clean Filter for GNU Bash Script/Clean Filter for GNU Bash Script.bash\""

[filter "verilog"]
	clean = "./filter.bash --cleaner istyle"
